/*
 * reduce vertical space
 */
ol, ul, li {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/*
 * idem for lists following paragraphs
 */ 
p + ol, p + ul {
    margin-top: -1em !important;
}

/*
 * use decimal style for ordered lists
 */
ol {
    list-style-type: decimal !important;
}

/*
 * clearly identify external links
 */
.md-main a[href^="http://"],
.md-main a[href^="https://"] {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(img/extlink.png);
    padding-right: 12px;
}
